name: generate-pacman

on:
  schedule:
    - cron: "0 0 * * *" # runs every day at midnight
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Generate Pacman contribution graph
        uses: maurodesouza/github-contribution-pacman@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
