name: generate-pacman

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Generate Pacman contribution graph
        uses: yoshi389111/github-contribution-pacman@v2
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
